<div class=" container-fluid " style=" margin-top: 20px; ">
  <div class=" col-sm-3 sidenav navbar-fixed-left " style=" height: 550px; font-size: 16px; ">
    <ul class=" nav nav-pills nav-stacked ">
      <li><a href="/admin ">Manage Post</a></li>
      <li><a href="/admin/users ">Manage Users</a></li>
      <li><a href="/admin/topics ">Manage topics</a></li>
    </ul>
  </div>
  <div class=" col-sm-9 admin-content ">
    <div class=" botton-group ">
      <a href="/admin/createtopics " class=" btn btn-primary btn-lg ">Add Topics</a>
      <a href="/admin/topics " class=" btn btn-primary btn-lg ">Manage Topics</a>
    </div>

    <div class=" content ">
      <h2 class=" page-title ">Add Topics</h2>

      <form action=" create.html " method=" post " role=" form ">
        <div class=" form-group ">
          <label for=" ">Name</label>
          <input type=" text " name="name " class=" form-control " id=" text-input " placeholder="Topic Title "
            data-rule=" minlen:4 " data-msg=" Please enter at least 4 chars ">
          <div class=" validation "></div>
        </div>
        <div class=" form-group ">
          <label for=" ">Description</label>
          <textarea name=" Description " id=" body " class=" form-control " data-rule=" required "
            data-msg=" Please write something here.. " placeholder=" Description "></textarea>
          <div class=" validation "></div>
        </div>

        <!-- <div class=" form-group ">
              <label for=" topic ">Topic</label>
              <select name=" topics " class=" form-control ">
                <option value=" News ">News</option>
                <option value=" Poetry ">Poetry</option>
                <option value=" Life Style ">Life Style</option>
                <option value=" ">Poetry</option>
                <option value=" Education ">Education</option>
              </select>
              <div class=" validation "></div>
            </div> -->

        <div class=" text-center "><button type=" submit " class=" btn btn-primary btn-lg ">Add Topic</button></div>

      </form>
    </div>

  </div>
</div>