<div class=" container-fluid " style=" margin-top: 20px; ">
  <div class=" col-sm-3 left-sidebar left " style=" height: auto; font-size: 16px; ">
    <ul class=" nav nav-pills nav-stacked ">
      <li><a href="/admin ">Manage Post</a></li>
      <li><a href="/admin/users ">Manage Users</a></li>
      <li><a href="/admin/topics ">Manage topics</a></li>
    </ul>
  </div>
  <div class=" col-sm-9 admin-content ">
    <div class=" botton-group ">
      <a href="/admin/createtopics " class=" btn btn-primary btn-lg ">Add Topics</a>
      <a href="/admin/topics " class=" btn btn-primary btn-lg ">Manage Topics</a>
    </div>

    <div class=" content ">
      <h2 class=" page-title ">Manage Topics</h2>

      <table class=" table table-stripped ">
        <thead>
          <th>SN</th>
          <th>Name</th>
          <th colspan=" 2 ">Action</th>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>This is the first Topic</td>
            <td><a href=" # " class=" btn btn-default ">edit</a></td>
            <td><a href=" # " class=" btn btn-danger ">delete</a></td>
          </tr>
          <tr>
            <td>2</td>
            <td>This is the second Topic</td>
            <td><a href=" # " class=" btn btn-default ">edit</a></td>
            <td><a href=" # " class=" btn btn-danger ">delete</a></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>