<div class=" container-fluid " style=" margin-top: 20px; ">
  <div class=" col-sm-3 left-sidebar left " style=" height: auto; font-size: 16px; ">
    <ul class=" nav nav-pills nav-stacked ">
      <li><a href="/admin ">Manage Post</a></li>
      <li><a href="/admin/users ">Manage Users</a></li>
      <li><a href="/admin/topics ">Manage topics</a></li>
    </ul>
  </div>
  <div class=" col-sm-9 admin-content ">
    <div class=" botton-group ">
      <a href="/admin/createUser " class=" btn btn-primary btn-lg "><i class="fa fa-user-plus "></i> Add Users</a>
      <a href="/admin/users " class=" btn btn-primary btn-lg "><i class="fa fa-users "></i> Manage Users</a>
    </div>

    <div class=" content ">
      <h2 class=" page-title ">Manage Users</h2>

      <table class=" table table-stripped ">
        <thead>
          <th>SN</th>
          <th>Username</th>
          <th>Role</th>
          <th colspan=" 2 ">Action</th>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Lawrence</td>
            <td>Admin</td>
            <td><a href=" # " class=" btn btn-default ">edit</a></td>
            <td><a href=" # " class=" btn btn-danger ">delete</a></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Joshua</td>
            <td>Admin</td>
            <td><a href=" # " class=" btn btn-default ">edit</a></td>
            <td><a href=" # " class=" btn btn-danger ">delete</a></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>