{{!-- <script>
  function likevideo() {

    document.getElementsByClassName("fa fa-heart").src = ".fa.fa-heart";
  }

</script> --}}
{{!-- <script>
  function like(x) {
    x.classList.toggle("fa-thumbs-down");
  }
</script> --}}
<script>
  var likes = 0;
  function like() {
    document.getElementById("show").innerHTML = likes;
    likes = likes + 1;
  }
</script>

<footer class="footer-2 text-center-xs bg--white">
  <div class="container">
    <!--end row-->
    <div class="row">
      <div class="col-md-6">
        <div class="footer">
          <ul>
            <li>
              <i class="fa fa-map-marker"> Jos, Plateau State.</i>
            </li>
            <li>
              <i class="fa fa-phone"> Phone: +234 810 633 6359</i>
            </li>
            <li>
              <i class="fa fa-envelope"> audujoshua999@gmail.com</i>
            </li>
          </ul>
          <ul class="social-list">
            <li>
              <a href="https://twitter.com/JoshuaAudu11?s=20"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a href="https://www.instagram.com/joshua_audu_/"><i class="fa fa-instagram"></i></a>
            </li>
          </ul>
          &copy;Copyright JarsBlog 2019. All Rights Reserved
          <div class="credits">
            Designed by <a href="https://LawrenceKwis.com.ng/">Lawrence Kwis</a>
          </div>
        </div>
      </div>
      <br>
      <div class="col-md-6 text-right">
        <div class="col-md-8 col-md-push-2">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                data-rule="email" data-msg="Please enter a valid email" />
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit" class="btn btn-primary btn-lg">Subscribe To My Newsletter</button></div>
          </form>
        </div>
      </div>

    </div>
    <!--end row-->
  </div>
</footer>

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/wow.js"></script>
<script src="/js/custom.js"></script>
<script src="contactform/contactform.js"></script>

</body>

</html>