<div class="form-group center-block  row">
  <div class="col-sm-4"></div>
  <div class="text-center col-sm-4" style="margin-top: 100px">
    <div class="banner-text">
      <h1>Admin Login</h1>
    </div>
    <form action="/login" class="form-group" method="post">
      <div class="form-group text-info">
        <i class="fa fa-user"> Username:</i>
        <input type="text" name="username" id="" class="form-control text-center" placeholder="Username">
      </div>
      <div class="form-group text-info">
        <i class="fa fa-key"> Password: </i>
        <input type="password" name="password" id="" class="form-control text-center" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-default">Login</button>
      <div class="text-info">
        <p>You are not an <strong style="text-decoration: underline; cursor: pointer;">Admin</strong> go to the <a
            href="/"><strong style="text-decoration: underline;">Blog</strong></a> page</p>
      </div>
    </form>
  </div>
  <div class="col-sm-4"></div>
</div>